@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

$main-colour: #1445b3;
$second-colour: #007bff;
$background-colour: white;
$main-font: "Montserrat", sans-serif;
$second-font: "Open Sans", sans-serif;

body{
    margin: 0;
    .head-1 {
        nav {
            div{
                .menu-principal{
                    display: flex;
                    justify-content: space-evenly;
                    list-style: none;
                    width: 600px;
                }
            }

        }
    }
    #seccion-1 {
        background-color:$main-colour;
        padding-top: 10em;
        height: 550px;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
            .img-1-banner{
                width: 500px;
                height: 400px;
                .imagen-banner{
                    width: 100%;
                    height: auto;
                }
            }
            .info-banner{
                color: #fff;
                font-size: 33px;
                font-weight: 700;
                font-family: $main-font;
                line-height: 27px;
                
                .side-buttons{
                    display: flex;
                    justify-content: space-evenly;
                    a{
                        border: 2px solid white;
                        border-radius: 30px;
                        font-family: $main-font;
                        font-size: 14px;
                        padding: 10px 32px;
                        color:#fff; 
                        letter-spacing: 1px;
                    }
                }


            }
            h2:nth-child(2){
                color: #74b5fc;
                text-decoration: underline;
            }
            
       
    }
}
.head-1{
    font-family: $main-font;
    background-color: $background-colour;
    display: flex;
    justify-content: space-between;
    position: fixed; 
    width: 100%;/*PORQUE SIN WIDTH AL PONER POSITION FIXED EL HEADER SE ACHICA DE ANCHO?*/
}
nav{
    display:flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
}
.menu-principal{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 600px;
}
.logo-ada{
    width: 67px;
    height: 26px;
}
.ada{
    width: 100%;
    height: auto;
}
.logo-menu{
    width: 50px;
    height: 26px;
    display: none;
}
.menu-desplegable{
    width: 100%;
    height: auto;
}   
.menu-drop-down{
    display: none;
} 


.menu-deep-drop-down{
    display: none;
}

.menu-drop-down:hover{
    display: block;
   
}
.menu-deep-drop-down:hover{
    display: block;
}
