@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

$main-colour: #1445b3;
$second-colour: #007bff;
$light-colour: #ecf5ff;
$light-font-colour:#eee;
$background-colour: white;
$main-font: "Montserrat", sans-serif;
$second-font: "Open Sans", sans-serif;

@mixin centrado {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin tit-sub {
    .h4-header {
        font-family: $main-font;
        font-size: 36px;
        font-weight: 500;
        text-align: center;
        margin: 0 0 20px 0;
    }
    .p-header {
        font-family: $second-font;
        font-size: 15px;
        text-align: center;
        margin: auto;
        padding-bottom: 60px;
    }
}

@mixin team-photo {
    width: 255px;
    height: 255px;
    margin: 10px;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    border-radius: 50%;
    opacity: 1;
    box-sizing: border-box;
    .overlay {
        background: rgba(0, 62, 128, 0.7);
        height: 100%;
        color: #fff;
        font-size: 24px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        transform: translateY(255px);
        transition: .3s ease;
        opacity: 0;
    }   
}

@mixin container-lg {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}
@mixin container-mid {
    max-width: 720px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}
@mixin container-sm {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}

body{
    margin: 0;
    .head-1 { /*no puedo ponerle padding , width 100% xq? */
        font-family: $main-font;
        background-color: $background-colour;
        display: flex;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        margin-top: -20px;
        z-index: 997;
        box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
            .menu-a{
            color: $main-colour;
            }
        .logo-ada{
            width: 67px;
            height: 26px;
            margin-left: 80px;
            padding-top: 25px;
            .ada{
                width: 100%;
                height: auto;
            }
        }
        .topnav {
            overflow: hidden;
            .logo-menu {
                display: none;
                width: 50px;
                height: 26px;
                }
            .menu-principal{
                display: flex;
                list-style: none;
                padding: 17px 0px;
                font-size: 14px;
                font-family: $main-font;
                font-weight: 500;
                color: $main-colour;
                justify-content: space-evenly;
                .menu-ul {
                    display: flex;
                    justify-content: space-evenly;
                    padding: 0;
                    list-style: none;
                    .contact-margin {
                        padding-right: 80px;
                        .menu-a {
                            text-decoration: none;
                        } 
                    }                  
                    .menu-li{
                        overflow: hidden;
                        padding: 0px 11.5px; 
                        .menu-a {
                            text-decoration: none;
                            .icon-drop {
                                font-size: 10px;
                                padding: 0px 10px 0px 6px;
                            }
                        } 
                        .menu-drop-down {
                            display: none;
                            position: absolute;
                            font-size: 13px;
                            width: 200px; //*porque no max-width*//
                            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                            z-index: 1;
                            padding-inline-start: 0px;
                            .menu-drop, .drop-down2 {
                                float: none;
                                background-color: $background-colour;
                                color: black;
                                padding: 12px 16px;
                                text-decoration: none;
                                display: block;
                                text-align: left;
                            }
                            .menu-deep-drop-down {
                                overflow: hidden;
                                display: none;
                                position: absolute;
                                background-color: #f9f9f9;
                                font-size: 13px;
                                width: 200px;
                                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                                z-index: 1;
                                padding-inline-start: 0px;
                                .menu-li:hover {
                                    .menu-a {
                                        color: $second-colour;
                                    } 
                                }
                            }
                        }
                        .drop-down2:hover .menu-deep-drop-down {
                            display: block;
                            margin-left: 80px;
                        }
                    }
                    .menu-li:hover .menu-drop-down {
                        display: block;
                    }
                }
            }
        }
    }
            
    .testimonials {
        @include centrado;
        padding: 60px 0;
        box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
        background-color: $light-colour;
            .header{
                @include centrado;
                @include tit-sub;
                margin-bottom: 40px;
            } 
            .carrousel {
                display: flex;   
                width: 730px;
                height: 132px;
                padding: 0;
                overflow: hidden;
                margin: 0 auto;
                .opinion {
                    display: flex;
                    width: 730px;
                    flex-shrink: 0;
                    scroll-behavior: smooth;
                        .test-img {
                            width: 125px;
                            border: 4px solid #fff;
                            border-radius: 50%;
                            overflow: hidden;
                            .t-img {
                                width: 100%;
                                height: auto;
                            }
                        }
                        .test-info {
                            padding: 10px;
                            width: 80%;
                            scroll-behavior: smooth;
                        }
                        .carr-h3 {
                            font-family: $main-font;
                            font-size: 20px;
                            font-weight: bold;
                            margin: 0px 0 5px 0;
                            color: #111;
                            line-height: 0.5
                        }
                        .carr-h4 {
                            font-family: $second-font;
                            font-size: 14px;
                            color: #999;
                            font-weight: 400;
                            line-height: 0;
                        }
                        .carr-p {
                            font-family: $second-font;
                            font-style: italic;
                            font-size: 15px;
                            color: #444;
                            font-weight: 400;
                            line-height: 1.5;
                        }
                    }
                }
            .bullets {
                display: flex;
                list-style: none;
                padding-inline-start: 0;
                margin-block-start: 1em;
                margin-block-end: 0;
                .bullet-1 {
                    width: 22px;
                    .bull-a:link  {
                        color: #ddd;
                    }
                    .bull-a:visited {
                        color: #ddd;
                    }
                    .bull-a:hover .fas-bull {
                        color: $second-colour;
                    }
                    .fas-bull {
                        font-size: 12px;
                    }
                }
            }
    }

    .team{
        @include centrado;
        padding: 60px 0;
        box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
        .header{
            @include centrado;
            @include tit-sub;
        } 
        .h4-gal {
            font-family: $main-font;
            font-weight: 700;
            margin-bottom: 3px;
            line-height: 0;
            font-size: 18px;
            color: #fff;
        }
        .text-gal{
            font-family: $second-font;
            font-style: italic;
            font-size: 13px;
            color: #fff;
        }
        .social {
            font-size: 18px;
            margin: 10px;
            .a-gal {
                text-decoration: none;
                margin: 3px;
            }              
            .a-gal:link {
                color: white;
            }              
            .a-gal:visited {
                color:white;
            }              
            .a-gal:hover {
                color: $second-colour;
            }
        }
        .galeria-batman {
            display: flex;
            .pic-1 {
                background-image: url(https://newbiz-master-uqgespkghu.now.sh/img/team-01.jpg);
                @include team-photo;
            }
            .pic-1:hover .overlay{
                transform: translate(0px);
                opacity: 1;
            }
            .pic-1:hover{
                opacity: 0.9;        
            }
            .pic-2 {
                background-image: url(https://newbiz-master-uqgespkghu.now.sh/img/team-02.jpg);
                @include team-photo;
            }
            .pic-2:hover .overlay{
                transform: translate(0px);
                opacity: 1;
            }
            .pic-2:hover{
                opacity: 0.9;        
            }
            .pic-3 {
                background-image: url(https://newbiz-master-uqgespkghu.now.sh/img/team-03.jpg);
                @include team-photo;
            }
            .pic-3:hover .overlay{
                transform: translate(0px);
                opacity: 1;
            }
            .pic-3:hover{
                opacity: 0.9;        
            }
            .pic-4 {
                background-image: url(https://newbiz-master-uqgespkghu.now.sh/img/team-04.jpg);
                @include team-photo;
            }
            .pic-4:hover .overlay{
                transform: translate(0px);
                opacity: 1;
            }
            .pic-4:hover{
                opacity: 0.9;        
            }
        }
    }

    .clients {
        @include centrado;
        background-color:$light-colour;
        padding: 60px 0;
        .header{
            @include centrado;
            @include tit-sub;
        }
        .fila {
            @include container-lg;
            display: flex;
            flex-wrap: wrap;
            .contenedor{
                width: 277px;
                box-sizing: border-box;
                background-color: white;
                border: 0.5px solid $light-colour;
                .logo-clientes{
                    box-sizing: border-box;
                    padding: 64px;
                    height: 160px;
                    display: flex;
                    align-items: center;
                    .img-clientes {
                        width: 100%;
                        height: auto;
                        transition: all 0.4s ease-in-out;
                    }
                    .img-clientes:hover {
                        transform: scale(1.2); 
                    }
                }
            }
        }
    }
    .contacto {
        @include centrado;
        padding: 60px 0;
        .header{
            @include centrado;
            @include tit-sub;
            padding-bottom: 30px;
        } 
        .mapa-formulario {
            display: flex;
            width: 100%;
            .google-maps{
                width: 50%;
                padding: 0 15px;
            }
            .contacto-formulario {
                width: 50%;
                padding: 0 15px;
                .datos-comerciales {
                    .datos-comerciales-ul {
                        display: flex;
                        list-style-type: none;
                        margin: 0;
                        padding: 0;
                        font-family: $second-font;
                        color: #283d50;
                        .datos-comerciales-li {
                            padding: 0 20px 10px 0px;
                            line-height: 28px;
                            font-size: 14px;
                            margin: 0 0 30px 0;
                        }
                        .ion-icon {
                            font-size: 28px;
                            color: #007bff;
                            float: left;
                            line-height: 1;
                            padding-right: 5px;
                        }
                    }
                }
                .formulario {
                    box-sizing: border-box;
                    width: 100%;
                    .formulario-form {
                        display: flex;
                        flex-direction: column;
                        .name-email {
                            display: flex;
                        }
                        .form-text {
                            display: flex;
                        }
                        .formulario-label{
                            display: flex;
                            margin: 10px 0;
                            flex: 1;
                            padding: 0 5px;
                            .input-field {
                                font-size: 14px;
                                width: 100%;
                                padding: .375rem .75rem;
                                font-family: $second-font;
                                border: 1px solid #ced4da;
                            }
                        }
                        .formu-textarea {
                            padding: 5px;
                            font-size: 14px;
                            width: 100%;
                            display: flex;
                            .formulario-textarea {
                                font-size: 14px;
                                display: flex;
                                flex: 1;
                                margin-right: 10px;
                                padding: .375rem .75rem ;
                                font-family: $second-font;
                                border: 1px solid #ced4da;
                            }
                        }
                        .form-botonsend {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            .boton-send {
                                background-color: $second-colour;
                                color: white;
                                padding: 8px 30px;
                                border: none;
                                border-radius: 20px;
                                cursor: pointer;
                                transition: 0.3s;
                                font-size: 1rem;
                                font-weight: 400;
                                line-height: 1.5;
                            }
                        }
                    }                    
                }
            }
        }
    }
    .footer {
        background-color: #004a99;
        color: $light-font-colour;
        .footer-h3 {
            font-family: $main-font;
            font-weight: 400;
            font-size: 34px;
            text-transform: uppercase;
            line-height:10px;
        }
        .footer-h5 {
            font-family: $main-font;
            font-weight: 700;
            font-size: 14px;
            text-transform: uppercase;
        }
        .footer-p, .footer-li{
            font-family: $second-font;
            font-size: 14px;
        }
        .top {
            @include container-lg;
            box-sizing: border-box;
            display: flex;
            padding: 60px 0 30px 0;
            color: #eee;
            .wayne-text{
                padding: 0px 15px;
                width: 350px;
                .footer-p {
                    font-family: $main-font;
                    line-height: 24px;
                    font-size: 13px;
                }
            }
            .useful-links{
                padding: 0px 15px;
                width: 160px;
                    .footer-ul{
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        .footer-a{
                            color: white;
                            text-decoration: none;
                            .footer-li {
                                padding: 8px 0
                            }
                        }
                        .footer-a:hover {
                            color: $second-colour;
                        }
                    }
                }
                .contact{
                    padding: 0px 15px;
                    width: 255px;
                    line-height: 26px;
                    .redes {
                        display: flex;
                        .icon {
                            background-color: $second-colour;
                            border: none;
                            color: white;
                            width: 36px;
                            height: 36px;
                            font-size: 18px;
                            border-radius: 50%;
                            margin-right: 4px;
                            transition: 0.3s;
                            .icon-a{
                                color: white;
                            }
                        }
                        .icon:hover {
                            background-color: #0062cc;
                        }
                    }
                }
                .newsletter{
                    padding: 0px 15px;
                    width: 255px;
                    line-height: 1.5;
                    .news-form {
                        display: flex;
                        .news-email {
                            margin: 0;
                        }
                        .news-submit{                            
                            background: #007bff;
                            border: 0;
                            width: 35%;
                            padding: 6px 0;
                            text-align: center;
                            color: #fff;
                            transition: 0.3s;
                            cursor: pointer;
                        }
                        .news-submit:hover {
                            background: #0062cc;
                        }
                    }
                }
            }
    }
    .footer-bottom {
        @include centrado;
        background-color: #00428a;
        text-align: center;
        margin: auto;
        padding: 20px 0px;
        .footer-bottom-p {
            color: $light-font-colour;
            font-family: $second-font;
            font-size: 14px;
        }
    }

    @media only screen and (max-width: 768px) {
        .head-1 .logo-ada {
            width: 67px;
            height: 26px;
            margin-left: 40px;
            padding-top: 16px;
            padding-bottom: 16px;
        }
        .head-1 .topnav .logo-menu {
            float: right;
            display: block;
            width: 40px;
            padding-top: 3px;
        }
        .head-1 .topnav .logo-menu .menu-icon .topnav-bars{
            margin-top: 18px;
            color: #004289;
            font-size: 18px;
        }
        .head-1 .topnav .menu-principal .menu-ul {
            display:none;
        }

        .team {
            .galeria-batman {
                flex-wrap: wrap;
                justify-content: center;
                .pic-1, .pic-2, .pic-3, .pic-4  {
                    max-width: 50%;
                    width: 330px;
                    height: 330px;
                    margin: 0;
                }
                .pic-1, .pic-3 {
                    margin-right: 15px;
                }
                .pic-2, .pic-4 {
                    margin-left: 15px;
                }
                .pic-1, .pic-2 {
                    margin-bottom: 20px;
                }
            }
        }
        .clients {
            .fila {
                @include container-mid;
                display: flex;
                flex-wrap: wrap;
                margin-right: auto;
                margin-left: auto;
                .contenedor {
                    max-width: 33%;
                }
            }
        }
        .contacto {
            .mapa-formulario{
                flex-direction: column;
                .google-maps {
                    width: auto;
                }
                .contacto-formulario{
                    width: auto;
                    .datos-comerciales{
                        display: flex;
                        flex-wrap: wrap;
                    }
                }
                .formulario {
                    .formulario-form {
                        .name-email {
                            flex-direction: column;
                            .formulario-label {
                                margin: 5px 0;
                            }
                        }
                        .form-text {
                            .formulario-label {
                                margin: 5px 0;
                            }
                        }
                    }
                }
            }
        }
        .footer {
            flex-direction: column;
            align-items: center;
            padding: 0;
            .top {
                @include container-mid;
                display: flex;
                flex-wrap: wrap;
                margin-right: auto;
                margin-left: auto;
                .wayne-text {
                    width: 45%;
                    padding: 0px 15px 0px 0px;
                    .footer-h3 {
                        margin-block-start: 12px;
                        line-height: 0px;
                    }
                }
                .useful-links {
                    .footer-h5 {
                        margin-block-start: 0;
                    }
                }
                .contact {
                    width: 45%;
                    padding: 0px 15px 0px 0px;
                }
            }
        }
    }

    @media only screen and (max-width: 360px) {
        .head-1 {
            height: 60px;
        }
        .testimonials {
            @include container-sm;
            .carrousel {
                display: flex;
                flex-direction: column;  
                width: 300px;
                height: 300px;
                padding: 0;
                overflow: hidden;
                margin: 0 auto;
                .opinion {
                    display: flex;
                    flex-direction: column; 
                    width: 300px;
                    flex-shrink: 0;
                    scroll-behavior: smooth;
                }
            }    
        }
        .team {
            @include container-sm;
            .galeria-batman {
                flex-wrap: wrap;
                .pic-1, .pic-2, .pic-3, .pic-4{
                    width: 330px;
                    height: 330px;
                    max-width: 100%;
                    margin: 0;
                }
                .pic-1 {
                    margin-bottom: 10px;
                }
                .pic-2, .pic-3 {
                    margin: 10px 0px;
                }
                .pic-4 {
                    margin-top: 10px;
                }
            }
        }
        .clients {
            .fila {
                flex-wrap: wrap;
                flex-direction: column;
                .contenedor{
                    max-width: 100%;
                    width: auto;
                }
            }
        }
        .contacto {
            .mapa-formulario {
                .contacto-formulario {
                    .datos-comerciales{
                        .datos-comerciales-ul{
                            flex-direction: column;
                        }
                    }
                }
            } 
        }
        .footer {
            @include container-sm;
            .top {
                display: flex;
                flex-wrap: wrap;
                padding: 60px 0px 0px 0px;
                .wayne-text{
                    width: auto;
                    padding: 0;
                    margin-bottom: 30px;
                    .footer-p {
                        margin-bottom: 30px;
                        margin-block-end: 0;
                        margin-top: 5px;
                    }
                }
                .useful-links {
                    padding: 0px 0px;
                    width: 100%;
                }
                .newsletter {
                    padding: 0px 0px;
                    width: 100%;
                }
            }
        }
    }
}


