@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

$main-colour: #1445b3;
$second-colour: #007bff;
$background-colour: white;
$main-font: "Montserrat", sans-serif;
$second-font: "Open Sans", sans-serif;
$letter-color:#283d50;
body{
    margin: 0;
    .head-1 {
        nav {
            div{
                .menu-principal{
                    display: flex;
                    justify-content: space-evenly;
                    list-style: none;
                    width: 600px;
                }
            }

        }
    }
    .seccion-1 {
        background-color:$main-colour;
        padding-top: 10em;
        height: 550px;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
            .img-1-banner{
                width: 500px;
                height: 400px;
                .imagen-banner{
                    width: 100%;
                    height: auto;
                }
            }
            .info-banner{
                color: #fff;
                font-size: 33px;
                font-weight: 700;
                font-family: $main-font;
                line-height: 27px;
                
                .side-buttons{
                    display: flex;
                    justify-content: space-evenly;
                    align-items: flex-start;
                    a{
                        border: 2px solid white;
                        border-radius: 30px;
                        font-family: $main-font;
                        font-size: 14px;
                        padding: 10px 32px;
                        color:#fff; 
                        letter-spacing: 1px;
                    }

                    .boton-activo{
                        border-color: $second-colour;
                        background-color: $second-colour;
                        color:#fff;
                    }
                    .boton-activo:hover{
                        border-color: #fff;
                        background-color: $main-colour;
                        color:#fff;
                    }
                    
                    .boton-inactivo{
                        border-color: #fff;
                        background-color: $main-colour;
                        color:#fff;
                    }

                    .boton-inactivo:hover{
                        border-color: $second-colour;
                        background-color: $second-colour;
                        color:#fff;
                    }
                }

                
            }
            h2:nth-child(2){
                color: #74b5fc;
                text-decoration: underline;
            }       
    }

    .seccion-2{
        padding-top: 5em;
        font-family: $second-font;
        color: $letter-color;
            header{
                text-align: center;
                font-weight: lighter;
                line-height: 1px;

                    h3{
                        font-size: 36px;
                        font-family: $main-font;
                    }
                    
                }        
            .seccion-A{/* cambiar a container*/
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                div{
                    width: 50%;
                }
                .side-text{
                    display: flex;
                    flex-direction: column;
                    text-align: justify;
                    
                    .icon-flex{
                        display: flex;
                        justify-content: flex-start;
                        div{
                            width: 30px;
                            height: 30px;
                            border: solid 2px $second-colour;
                            border-radius: 44px;
                        }
                        
                    }

                }
                    
                .img-2{
                    width: 600px;
                    height: 500px;
                    .imagen-2{
                        width: 100%;
                        height: auto;
                        }
                }  
                h4{
                    font-family: $main-font;
                    }
                    
            }
            .seccion-B{
                display: flex;
                justify-content: space-between;
                text-align: justify;
                div{
                    width: 50%; 
                    // ver como dar tama;o
                }
                .img-3{
                    width: 500px;
                    height: 300px;
                    .imagen-3{
                        width: 100%;
                        height: auto;
                        }
                }  
            }
            .seccion-C{
                display: flex;
                justify-content: space-between;
                text-align: justify;
                div{
                    width: 50%;
                }
                .img-4{
                    width: 500px;
                    height: 400px;
                    .imagen-4{
                        width: 100%;
                        height: auto;
                        }
                }  
            }
        
    }
    .seccion-3{
        padding-top: 5em;
        font-family: $second-font;
        color: $letter-color;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        background-color: #ecf5ff;

        h3{
            font-size: 36px;
            line-height: 22px;
        }
        p{
            font-size: 15px;
            line-height: 14px;
        }
        
        .contenedor{
            display: flex;
            justify-content: space-evenly;
            text-align: justify;
            box{
                
                width: 25%;
                background-color: #fff;
                border-radius: 10px;
                padding: 32px;
                margin: 30px 0px;
            
                p{
                    font-size: 14px;
                    line-height: 14px;

                }
                h4{
                    font-size: 18px;
                    font-family: $main-font;
                }
            }
        }
    }
    .seccion-4{
        font-family: $second-font;
        header{
            h4{
                font-family: $main-font;
            }
        }
    }
        
}

.head-1{
    font-family: $main-font;
    background-color: $background-colour;
    display: flex;
    justify-content: space-between;
    position: fixed; 
    width: 100%;/*PORQUE SIN WIDTH AL PONER POSITION FIXED EL HEADER SE ACHICA DE ANCHO?*/
}
nav{
    display:flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
}
.menu-principal{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 600px;
}
.logo-ada{
    width: 67px;
    height: 26px;
}
.ada{
    width: 100%;
    height: auto;
}
.logo-menu{
    width: 50px;
    height: 26px;
    display: none;
}
.menu-desplegable{
    width: 100%;
    height: auto;
}   
.menu-drop-down{
    display: none;
} 


.menu-deep-drop-down{
    display: none;
}

.menu-drop-down:hover{
    display: block;
   
}
.menu-deep-drop-down:hover{
    display: block;
}
