@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

$main-colour: #1445b3;
$second-colour: #007bff;
$background-colour: white;
$main-font: "Montserrat", sans-serif;
$second-font: "Open Sans", sans-serif;
$letter-color:#283d50;
@mixin flex-reflex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body{
    margin: 0;
    .head-1 {
        nav {
            div{
                .menu-principal{
                    display: flex;
                    justify-content: space-evenly;
                    list-style: none;
                    width: 600px;
                }
            }
        }
    }
    .section-1 {
        background-color:$main-colour;
        padding-top: 10em;
        // height: 550px;
        display: flex;
        justify-content: space-between;
        // align-items: flex-start;
        .section-1-container{
            max-width: 1440px;
            margin: 0 auto;
            .img-1-banner{
                flex: 1;
                width: 500px;
                height: 400px;
                .imagen-banner{
                    width: 100%;
                    height: auto;
                }
            } 
            .info-banner{
                flex:1;
                color: #fff;
                font-size: 33px;
                font-weight: 700;
                font-family: $main-font;

                .side-buttons{
                    display: flex;
                    justify-content: space-evenly;
                    align-items: flex-start;
                    a{
                        border: 2px solid white;
                        border-radius: 30px;
                        font-family: $main-font;
                        font-size: 14px;
                        padding: 10px 32px;
                        color:#fff; 
                        letter-spacing: 1px;
                    }
                    .boton-activo{
                        // mixin botones!!!
                        border-color: $second-colour;
                        background-color: $second-colour;
                        color:#fff;
                    }
                    .boton-activo:hover{
                        border-color: #fff;
                        background-color: $main-colour;
                        color:#fff;
                    }                    
                    .boton-inactivo{
                        border-color: #fff;
                        background-color: $main-colour;
                        color:#fff;
                    }
                    .boton-inactivo:hover{
                        border-color: $second-colour;
                        background-color: $second-colour;
                        color:#fff;
                    }
                }
            }
            .solutions{
                color: #74b5fc;
                text-decoration: underline;
            }         
            

        }
            
            
                
                
              
    }

    .seccion-2{
        padding-top: 5em;
        padding-bottom: 4em;
        font-family: $second-font;
        color: $letter-color;
        margin: 0px 100px; 

            header{
                text-align: center;
                font-weight: lighter;
                line-height: 1px;
                margin-bottom: 44px;
                    h3{
                        font-size: 36px;
                        font-family: $main-font;
                        margin-bottom: 48px;
                    }
                }        
            .seccion-A{/* cambiar a container*/
                @include flex-reflex;
                .side-text{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    // width:50%;
                    .icon-flex{
                        @include flex-reflex;
                        i{
                            text-align: center;
                            color: $second-colour;
                            border: 2px solid $second-colour;
                            border-radius: 41px;
                            padding: 20px;
                            font-size: xx-large;
                            // reveer padding
                            }
                        div{
                            padding-left: 12px;
                            p h4{
                                line-height: 12px;  
                                // revisar!!!!!
                            }
                           
                        }                       
                    }
                    .icon-flex:hover{
                        i{
                            color:#fff;
                            background-color: $second-colour;
                            transition: all 0.5s ease-in-out;
                        }
                    }

                }
                    
                .img-2{
                    width: 50%;
                    height: 500px;
                    .imagen-2{
                        width: 100%;
                        height: auto;
                        }
                }  
                h4{
                    font-family: $main-font;
                    }
                    
            }
            .seccion-B{
                display: flex;
                justify-content: space-between;
                div{
                    width: 50%; 
                }
                .img-3{
                    width: 500px;
                    height: 300px;
                    .imagen-3{
                        // @mixin imagenes
                        width: 100%;
                        height: auto;
                        }
                }  
            }
            .seccion-C{
                display: flex;
                justify-content: space-between;
                margin-top: 48px;
                div{
                    width: 50%;
                }
                .img-4{
                    width: 500px;
                    height: 400px;
                    .imagen-4{
                        // mixin imag
                        width: 100%;
                        height: auto;
                        }
                }  
            }
        
    }
    .seccion-3{
        padding-top: 5em;
        padding-bottom: 4em;
        font-family: $second-font;
        color: $letter-color;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        background-color: #ecf5ff;
        h3{
            font-size: 36px;
            line-height: 22px;
            font-family: $main-font;
        }
        p{
            font-size: 15px;
            letter-spacing: 1px;
        }
        
        .row-wrap{
            display: flex;
            justify-content: space-evenly;
            text-align: left;
            #column-wrap-1{
                align-items: flex-end;
                margin-right: 67px;
            }
            #col-wrap-2{
                align-items: flex-start;
                margin-left: 67px;
            }
            .column-wrap{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: flex-end;
                .caja{
                    @include flex-reflex;
                    width: 55%;
                    background-color: #fff;
                    border-radius: 10px;
                    padding: 30px;
                    margin: 30px 0px;
                    // display: flex;
                    // justify-content: space-between;
                    // align-items: center;
                    overflow: hidden;
                    box-shadow: 1px 5px 5px rgba(68, 88, 144, 0.1);
                    transition: all 0.5s ease-in-out;
                    
                    .analytics-icon{
                        color: #ff689b;
                        }
                    .copy-icon{
                        color: #3fcdc7;
                        }
                    .time-icon{
                        color: #d6ff22;
                        }
                    .bookmark-icon{
                        color: #e9bf06;
                        }
                    .speed-icon{
                        color: #41cf2e;
                        }
                    .globe-icon{
                        color: #4680ff;
                        }
                    ion-icon{
                        
                        position: relative;
                        right: 50px;
                        text-align: center;
                        font-size: 64px;
                        }
                    
                    p{
                        font-size: 14px;
                        line-height: 14px;
                    }
                    h4{
                        font-size: 18px;
                        font-family: $main-font;
                    } 
                    
                }
                .caja:hover{
                    transform: translateY(-5px);
                    h4{
                        color: $main-colour;
                    }
                }
            }
        }
    }
    .seccion-4{
        background-color: $main-colour;
        font-family: $second-font;
        font-size: 15px;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5em 0em;
        header{
            width: 50%;
            text-align: center;
            padding-bottom: 60px;
            p{
                padding: 0px 40px;
            }
            h4{
                font-size: 36px;
                font-family: $main-font;
                
            }
        }
        .container{
            display: flex;
            justify-content: center;
            align-items: center;
            width:80%;
            
            .celda{
                width:40%;
                background-color: #00458ed0;
                border-color: #00458f;
                border-radius: 10px;
                margin: 0 15px;
                padding: 15px 0;
                text-align: center;
                color: #fff;
                transition: 0.3s ease-in-out;
                height: 100%;
                i{
                    font-size: 48px;
                    color: #bfddfe;
                 }
                h5{
                    font-size: 22px;
                    font-weight: bold;
                }
                a{
                    color: #fff;
                    font-weight: bold;
                }
            }
            .celda:hover{
                background-color: #00457ec9;
                a{
                    padding-bottom: 3px;
                    border-bottom: 2px solid #00457ec9;                    
                }
                a:hover{
                    padding-bottom: 3px;
                    border-bottom: 2px solid #fff;
                    transition: 0.5s;
                }
            }
        }     
        .counter-row{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70%;
            .column{
                width:30%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .card{
                    text-align: center;
                }
                .counter-count{
                    font-family: $main-font;
                    font-size:48px;
                    margin-bottom: 0px;
                }
                }
            }
            
    // .seccion-5{

    // }       
        
    }
        
}

.head-1{
    font-family: $main-font;
    background-color: $background-colour;
    display: flex;
    justify-content: space-between;
    position: fixed; 
    width: 100%;/*PORQUE SIN WIDTH AL PONER POSITION FIXED EL HEADER SE ACHICA DE ANCHO?*/
}
nav{
    display:flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
}
.menu-principal{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 600px;
}
.logo-ada{
    width: 67px;
    height: 26px;
}
.ada{
    width: 100%;
    height: auto;
}
.logo-menu{
    width: 50px;
    height: 26px;
    display: none;
}
.menu-desplegable{
    width: 100%;
    height: auto;
}   
.menu-drop-down{
    display: none;
} 


.menu-deep-drop-down{
    display: none;
}

.menu-drop-down:hover{
    display: block;
   
}
.menu-deep-drop-down:hover{
    display: block;
}
// cuestiones a revisar:
// los margenes que se dejan
// los line height
